<table class="user-index">
<h1>Users</h1>

<table>
   <thead>
     <tr>
     <th>image</th>
     <th>name</th>
     <th></th>
     <th　colspan="2"></th>
     </tr>
   </thead>

   <tbody>
    <% @users.each do |user| %>
     <tr>
     <td><%= user.profile_image %></td>
     <td><%= user.name %></td>
     </tr>
     <% end %>
    </tbody>
</table>
