<div class="notice"><%= flash[:notice] %></div>

<h1>welcome to <i class="fas fa-book"></i><strong>Bookers!!</strong></h1>
<p>In <i class="fas fa-book"></i><strong>Bookers,</strong><br></p>
<p>you can share and exchange your opinions , inpressions , and emotions<br></p>
<p>about various books!</p>

<div class="d-grid gap-2 d-md-block">
<button class="btn btn-success">Sign up</button>
<button class="btn btn-primary">Log in</button>
</div>